php_flag display_errors on
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Header Set Access-Control-Allow-Origin "*"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


#RewriteRule ^tasks/([0-9]+)$ controller/task.php?taskid=$1 [L]
#RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]
#RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]
#RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]
#RewriteRule ^tasks$ controller/task.php [L]


RewriteRule ^users$ controller/user.php [L]
RewriteRule ^users/([0-9]+)$ controller/user.php?userid=$1 [L]

RewriteRule ^sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]
RewriteRule ^sessions$ controller/sessions.php [L]

RewriteRule ^courses/([0-9]+)$ controller/courses.php?courseid=$1 [L]
RewriteRule ^courses$ controller/courses.php [L]

RewriteRule ^enroll-courses$ controller/studentCourses.php [L]
RewriteRule ^enroll-courses/([0-9]+)$ controller/studentCourses.php?registrationid=$1 [L]


