php_flag display_errors on
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Header Set Access-Control-Allow-Origin "*"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^users$ controller/user.php [L]
RewriteRule ^users/([0-9]+)$ controller/user.php?userid=$1 [L]

RewriteRule ^sessions/([0-9]+)$ controller/sessions.php?sessionid=$1 [L]
RewriteRule ^sessions$ controller/sessions.php [L]

RewriteRule ^courses/([0-9]+)$ controller/courses.php?courseid=$1 [L]
RewriteRule ^courses$ controller/courses.php [L]

RewriteRule ^enroll-courses$ controller/studentCourses.php [L]
RewriteRule ^enroll-courses/([0-9]+)$ controller/studentCourses.php?registrationid=$1 [L]

RewriteRule ^grades$ controller/grades.php [L]
RewriteRule ^grades/([0-9]+)$ controller/grades.php?courseid=$1 [L]

RewriteRule ^statistics/([0-9]+)$ controller/statistics.php?studentid=$1 [L]
